header {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: hidden;

    div {
    	grid-row: 2 / span 4;
		grid-column: 2 / span 4;
		align-self: center;

		h2 {
			color: #EF3D6D;
			font-size: 2.25vw;
			font-weight: 100;
			text-align: center;
			letter-spacing: 4px;
			font-family: 'Bahnschrift';
			margin-top: .5rem;
		}

		p {
			color: #BAE8E8;
			font-size: 2vw;
			font-weight: 100;
			font-family: 'Bahnschrift';
		}

		button {
			font-family: 'Bahnschrift';
			width: 12rem;
			height: 3rem;
			background-color: #BAE8E8;
			font-size: .7rem;
			color: #272343;
			border: none;
			border-radius: 15px;
			margin-top: 2rem;
		}
    }

    img {
    	grid-row: 2 / span 4;
		grid-column: 7 / span 5;
		width: 100%;
    }
}

  @media only screen and (max-width: 55em){
  	
  	header {

  		div {
    		grid-row: 1 / span 3;
			grid-column: 2 / span 10;

			h2 {
				font-size: 5vw;
				text-align: center;
				letter-spacing: 4px;
				margin-top: .5rem;
			}

			p {
				font-size: 4vw;
			}

			button {
				font-family: 'Bahnschrift';
				width: 50vw;
				height: 5vh;
				font-size: .7rem;
				border-radius: 15px;
				margin:0 auto;
    			display:block;
    			margin-top: 2rem;
			}
    	}

    	img {
    		grid-row: 4 / span 3;
			grid-column: 2 / span 10;
			width: 100%;
			margin: 4rem 0 2rem 0;
    	}
    }
  }
